<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" routerLink="">COWORKING</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/']" fragment="request" class="page-scroll"
            >Request Visit</a
          >
        </li>
        <li>
          <a [routerLink]="['/']" fragment="about" class="page-scroll">About</a>
        </li>
        <li>
          <a
            [routerLink]="['/']"
            *ngIf="!isAdmin"
            fragment="bookspace"
            class="page-scroll"
            >BOOK SPACE</a
          >
          <a
            [routerLink]="['/']"
            *ngIf="isAdmin"
            fragment="bookspace"
            class="page-scroll"
            >VIEW SPACE</a
          >
        </li>
        <!-- <li><a href="#portfolio" class="page-scroll">Gallery</a></li> -->
        <li>
          <a class="page-scroll" [routerLink]="['/']" fragment="team"
            >Our Team</a
          >
        </li>

        <li>
          <a [routerLink]="['/']" fragment="footer" class="page-scroll"
            >Contact</a
          >
        </li>
        <li></li>
        <li>
          <a
            id="logId"
            *ngIf="!islogged"
            class="page-scroll"
            (click)="onCreate()"
            >Login</a
          >
          <a
            id="logId1"
            *ngIf="islogged"
            class="page-scroll"
            (click)="onLogout()"
            >Logout</a
          >
        </li>
        <li *ngIf="!isAdmin">
          <a *ngIf="!islogged" class="page-scroll" (click)="onCreateSign()"
            >Sign Up</a
          >
          <a *ngIf="islogged" class="page-scroll" routerLink="/viewdetail"
            >View Profile</a
          >
        </li>

        <li *ngIf="isAdmin">
          <a *ngIf="!islogged" class="page-scroll" (click)="onCreateSign()"
            >Sign Up</a
          >
          <a *ngIf="islogged" class="page-scroll" routerLink="/viewreqvisit"
            >View Visit</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
