<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 ">
        <div class="about-img">
          <img src="../assets/img/about.jpg" class="img-responsive" alt="" />
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Our Space</h2>
          <hr />
          <p>
            Our coworking spaces play home to a diverse set of working
            professionals. Each with their own experiences, expertise and
            skills.
          </p>
          <h3>Think community, not company.</h3>
          <p>
            Our workspace experience is designed to foster a sense of belonging.
            Each space boasts a community of potential co-founders, clients and
            teammates.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
