<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 ">
        <div class="about-img">
          <img src="../assets/img/about.jpg" class="img-responsive" alt="" />
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Our Restaurant</h2>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
            dapibus leo nec ornare diam. Sed commodo nibh ante facilisis
            bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam
            commodo nibh.
          </p>
          <h3>Awarded Chefs</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
            dapibus leo nec ornare diam. Sed commodo nibh ante facilisis
            bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
