<div
  class="product_image_area"
  style="padding-bottom: 50px; margin-top: 100px;"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img
          class="d-block w-100"
          src="img/product/single-product/s-product-1.jpg"
          alt="First slide"
        />
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3>Flexible seats</h3>
          <h2>{{ price }} per seat</h2>
          <ul>
            <li>
              <a> <span>Type</span> : Desk only</a>
            </li>
            <li>
              <a> <span>Availibility</span> : {{ free }} out of {{ total }}</a>
            </li>
          </ul>
          <p>
            {{ Description }}
          </p>
          <div class="card_area">
            <a class="main_btn" routerLink="/bookarea">Book Now</a>
            <!--<a class="icon_btn" href="#">
                <i class="lnr lnr lnr-diamond"></i>
              </a>
              <a class="icon_btn" href="#">
                <i class="lnr lnr lnr-heart"></i>
              </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
