<div class="product_image_area" style="padding-bottom: 50px">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img
            class="d-block w-100"
            src="img/product/single-product/s-product-1.jpg"
            alt="First slide"
          />
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <h3>Faded SkyBlu Denim Jeans</h3>
            <h2>$149.99</h2>
            <ul>
              <li>
                <a> <span>Category</span> : Household</a>
              </li>
              <li>
                <a> <span>Availibility</span> : In Stock</a>
              </li>
            </ul>
            <p>
              Mill Oil is an innovative oil filled radiator with the most modern
              technology. If you are looking for something that can make your
              interior look awesome, and at the same time give you the pleasant
              warm feeling during the winter.
            </p>
            <div class="card_area">
               <a class="main_btn" href="#">Add to Cart</a>
              <!--<a class="icon_btn" href="#">
                <i class="lnr lnr lnr-diamond"></i>
              </a>
              <a class="icon_btn" href="#">
                <i class="lnr lnr lnr-heart"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  