<div class="product_image_area">
  <div class="container">
    <div class="row" style="padding-bottom: 50px; margin-top: 100px;">
      <div class="col-lg-6">
        <img
          [src]="bookings.imgpath"
          style=" width: 450px;height: 450px;margin-left: 37px;box-shadow: none;border:1px solid #5cb85c;border-radius: 10px 10px 10px 10px; "
          class="myCustom"
        />
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3>{{ bookings.name }}</h3>
          <h2>{{ bookings.amount }} per seat</h2>
          <ul>
            <li>
              <a>
                <span>Availibility</span> :
                {{ bookings.total - bookings.reserved }} out of
                {{ bookings.total }}</a
              >
            </li>
          </ul>
          <p>
            {{ bookings.description }}
          </p>
          <div class="card_area">
            <a *ngIf="!isAdmin" class="main_btn" routerLink="/bookarea"
              >Book Now</a
            >
            <a *ngIf="isAdmin" class="main_btn" routerLink="/editBookArea"
              >Edit</a
            >

            <!--<a class="icon_btn" href="#">
                <i class="lnr lnr lnr-diamond"></i>
              </a>
              <a class="icon_btn" href="#">
                <i class="lnr lnr lnr-heart"></i>
              </a> -->
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isAdmin">
      <div class="table-responsive" style="margin-top: 90px;">
        <!--Table-->
        <table class="table table-striped" *ngIf="isData">
          <!--Table head-->
          <thead>
            <tr>
              <th>No</th>
              <th>Email</th>
              <th>BookedSeat</th>
              <th>Booking Date</th>
              <th>Duration</th>
              <th>Delete</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let obj of viewlist; index as id">
              <td>{{ id + 1 }}</td>
              <td>{{ obj.email }}</td>
              <td>{{ obj.seat }}</td>
              <td>{{ obj.bookdate | date }}</td>
              <td>{{ obj.duration }}</td>
              <td>
                <a
                  class="fa fa-trash"
                  style="font-size:20px;color:red"
                  (click)="onDelete(id)"
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
