<div id="body">
  <!-- <div id="unblurred"> -->
  <div class="container">
    <section id="content">
      <div id="form">
        <h1>Login Form</h1>
        <div>
          <input type="text" placeholder="Username" required="" id="username" />
        </div>
        <div>
          <input
            type="password"
            placeholder="Password"
            required=""
            id="password"
          />
        </div>
        <div>
          <input style="margin-left: 40px;" type="button" value="Log in" />
          <input
            style="margin-left: 45px;"
            type="button"
            value="Cancel"
            (click)="onClose()"
          />
          <a style="margin-bottom: 30px; font-size: 14px;" href="#"
            >Forgot your password?</a
          >
          <a style="margin-bottom: 30px; font-size: 14px;" href="#">Register</a>
        </div>
      </div>
      <!-- </form> -->
      <!-- form -->
    </section>
    <!-- content -->
  </div>
  <!-- container -->
  <!-- </div> -->
</div>
