<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Touché</h1>
            <!--<a href="#about" class="btn btn-custom btn-lg page-scroll"></a>-->
            <p id="request"></p>
          </div>

          <table cellspacing="10">
            <tr>
              <th>
                <div
                  style="margin-left:40px;padding-left:70px"
                  class="form-group"
                >
                  <input
                    type="text"
                    style="width:150%"
                    id="name"
                    class="form-control"
                    placeholder="Name"
                    required="required"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </th>
              <th>
                <div
                  style="margin-left:40px;padding-left:70px"
                  class="form-group"
                >
                  <input
                    type="email"
                    style="width:150%"
                    id="email"
                    class="form-control"
                    placeholder="Email"
                    required="required"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </th>
              <th>
                <div
                  style="margin-left:40px;padding-left:70px"
                  class="form-group"
                >
                  <input
                    type="tel"
                    style="width:150%"
                    id="mn"
                    class="form-control"
                    placeholder="Mobile"
                    required="required"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </th>
              <th>
                <div
                  style="margin-left:40px;padding-left:70px"
                  class="form-group"
                >
                  <div style="padding-top:0px;">
                    <a class="mdc-button mdc-snackbar__action btn-visit"
                      >Book Visit</a
                    >
                  </div>
                  <p class="help-block text-danger"></p>
                </div>
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</header>
