<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Explore Workspace Options</h2>
      <hr />
      <p></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Flexible seats</h2>
          <hr />
          <div class="menu-item">
            <!-- <div class="menu-item-name"></div> -->
            <!-- <div class="menu-item-price"> $35 </div> -->
            <div class="menu-item-description">
              <div class="bookcontainer">
              <img
                src="../assets/img/portfolio/01-large.jpg"
                style=" width: 431px;height: 377px;margin-left: 37px;box-shadow: none "
                class="neel"
              />
              <div class="neel1">
                  <div class="text22"><button type="submit" name="button" class="btn btn-success">Book Space</button></div>
                
              </div>
            </div>
            </div>

           
        </div>
          <!-- <div class="menu-item">
              <div class="menu-item-name"> Delicious Dish </div>
              <div class="menu-item-price"> $30 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name"> Delicious Dish </div>
              <div class="menu-item-price"> $30 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name"> Delicious Dish </div>
              <div class="menu-item-price"> $30 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div> -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">MEETING</h2>
          <hr />
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$45</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">FIXED SEATS</h2>
          <hr />
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$45</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$350</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam..
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">CABINS</h2>
          <hr />
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$35</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
