<div class="table-responsive" style="margin-top: 90px;">
  <!--Table-->
  <table class="table table-striped">
    <!--Table head-->
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Delivery Title</th>
        <th>PickUp Date</th>
        <th>PickUp Location</th>
        <th>Delivery Location</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Darsh</td>
        <td>Ready To Move</td>
        <td>19/10/2019</td>
        <td>Nadiad</td>
        <td>Navsari</td>
        <td>
          <a
            class="fa fa-eye"
            style="text-decoration: none;font-size: 20px;color: green;"
            [routerLink]="['/home']"
            >View</a
          >
        </td>
        <td>
          <a
            class="fa fa-edit"
            style="font-size:20px;color:yellow"
            [routerLink]="['/home']"
            >Edit</a
          >
        </td>
        <td>
          <a
            class="fa fa-trash"
            style="font-size:20px;color:red"
            [routerLink]="['/home']"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
</div>
